a {
    text-decoration: none;
    color: inherit;
  }
  body {
    font-family: $font-primary;
    color: $color-black;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.05em;
  }
  html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  
    @include respond(tab-land) {
      // width < 1200?
      font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }
  
    @include respond(tab-port) {
      // width < 900?
      font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
  
    @include respond(big-desktop) {
      font-size: 75%; //1rem = 12, 12/16
    }
  }
  
  //header
  .header__navbar--logo,
  .footer__navbar--logo {
    @include btn-text;
  }
  .header__navbar--nav-items,
  .footer__navbar--nav-items {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.05em;
  }
  .footer__navbar--nav-items {
    color: $color-white;
  }
  .h1 {
    font-weight: 100;
    font-size: 24px;
    line-height: 70px;
    letter-spacing: 0.2em;
    color: $color-blue;
  }
  .text-orange {
    color: $color-orange;
  }
  .btn {
    @include btn-text;
  }