// COLORS
$color-orange: #FFB800;
$color-green: #09C733;
$color-light-blue: rgba(60, 74, 203, 0.75);;
$color-blue: #3C4ACB;
$color-white: white;
$color-black: black;
$color-grey: rgba(255, 255, 255, 0.2);

//FONT
$default-font-size: 24px;
$font-primary: 'Roboto', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;
