.header {
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  position: relative;

  &__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--logo {
      @include btn;
      @include bg-lightblue;
    }

    &--nav-items {
      display: grid;
      grid-template-columns: auto auto auto auto;
      justify-content: space-around;
      align-content: center;
      grid-gap: auto;
      min-width: 50%;

      @include respond(ipad) {
        min-width: 70%;
      }
      @include respond(ipad-small) {
        display: none;
      }
    }

    &--nav-item {
      transition: linear 0.1s;

      &:hover {
        transform: scale(1.2);
        cursor: pointer;
        color: $color-light-blue;
      }
    }
  }

  &__titlebar {
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin: 5rem 0;

    &--title {
      display: grid;
      grid-template-rows: 5fr 2fr;

      & h1 {
        margin-right: 1rem;
      }
    }
    &--btn {
      grid-row-start: 3;
      grid-row-end: 4;
      border: none;
    }
    &--animation {
      display: grid;
      grid-template-columns: auto auto auto;
    }
  }
}
.btn {
  @include btn;
  transition: linear 0.1s;
  border: none;
  outline-style: none;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
.bg-orange {
  @include bg-orange;
}
.bg-lightblue {
  @include bg-lightblue;
}
.bg-green {
  @include bg-green;
}
.animation__item--5 {
  padding: 2rem;
}
.animation__item--3 {
  padding: 4rem;
}
